@charset "UTF-8";

@textcolor: #359;
@mutedcolor: #b5b8c3;
@errorcolor: #d32;

#basefont() {
	font-size: 15px;
	line-height: 1.333;
}
#boxsizing(@model: border-box) {
	-moz-box-sizing: @model;
	box-sizing: @model;
}
#visuallyHidden() {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

#starOn() {
	&:before { content: "\2605"; }
}
#starOff() {
	// color: @mutedcolor;
	// &:before { content: "\2605"; }
	&:before { content: "\2606"; }
}

body {
	margin: 80px;
	background: #eee5dd;
}
h1, h2, h3 {
	font-family: Georgia, serif;
}
h1 {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1px;
	&:after {
		content: "❦";
		display: block;
		margin: .3em 0 0;
		text-align: center;
		font-weight: normal;
		// color: @mutedcolor;
	}
}
body,
input,
select,
textarea {
	#boxsizing;
	#basefont;
	font-family: Arial, Helvetica, sans-serif;

	// fluff - set fonts and colors for both body and form elements
	// color: #d84433;
	color: @textcolor;
}
input[type="text"],
input[type="password"],
select,
textarea {
	#basefont;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 100%;
	line-height: normal;

	// fluff
	border: none;
	border-bottom: 1px solid @textcolor;
	background: #f8f2e8; //#f8f5ee;
	padding: 10px;
	outline: none;
	&:focus {
		background: #fff;
	}
	&.error {
		border-color: @errorcolor;
		color: @errorcolor;
	}
}
textarea {
	overflow-y: auto; // IE fix for consistency
}
fieldset {
	margin: 40px 0;
	border: none;
	padding: 20px 30px 30px;

	// fluff
	border-radius: 5px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.1);
	background: rgba(0,0,0,.05);
	h2:first-child {
		margin-top: 0;
	}
}

// labels on left side, responsive
.labelsleft {
	.formrow {
		@labelwidth: 30%;
		@indent: @labelwidth / (100% - @labelwidth) * 100;
		#boxsizing;
		padding: 0 0 20px;
		font-size: 0;
		line-height: 0;
		@media screen and (min-width:768px) {
			padding-left: @labelwidth;
		}
		label,
		.label {
			#basefont;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			padding-top: 9px;
			@media screen and (max-width:767px) {
				padding-bottom: 5px;
				+ .formitem {
					padding-left: 0;
				}
			}
			@media screen and (min-width:768px) {
				margin-left: -@indent;
				width: @indent;
			}
		}
		.formitem {
			#boxsizing;
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 0 0 10px;
			width: 100%;
			@media screen and (min-width:480px) {
				padding: 0 0 0 10px;
				&.col1of1 { width: 100%; }
				&.col1of2 { width: 50%; }
				&.col1of3 { width: 33.33%; }
				&.col2of3 { width: 66.66%; }
				&.col1of4 { width: 25%; }
				&.col3of4 { width: 75%; }
			}
			label {
				position: relative;
				margin: 0;
				padding-left: 25px;
				padding-right: 20px;
				width: auto;
				input[type="checkbox"],
				input[type="radio"] {
					position: absolute;
					left: 0;
					&.error + span {
						color: @errorcolor;
					}
				}
			}
		}
	}
}

// common for all layouts
.formrow .formitem {
	&.rating {
		margin-top: 3px;
		width: auto;
		white-space: nowrap;
		label,
		input {
		}
		label {
			float: right;
			margin: 0;
			padding: 0;
			width: 24px;
			height: 24px;
			font-size: 24px;
			line-height: 1;
			#starOff;
			span {
				display: none;
			}
		}
		input { #visuallyHidden; }
		label:hover,
		label:hover ~ label,
		input.checked ~ label { #starOn; } // class "checked" for IE8
		input:checked ~ label { #starOn; } // separate to not confuse IE8
		&:hover {
			input ~ label { #starOff; }
			label:hover,
			label:hover ~ label { #starOn; }
		}
	}
	.errormsg {
		font-size: 11px;
		line-height: normal;
		display: none;
		padding: 3px 8px;
		background: #fff;
		color: @errorcolor;
		@media screen and (min-width:480px) {
			position: absolute;
			z-index: 1;
			bottom: 100%;
			left: 100%;
			margin: 0 -150px -5px -15%;
			box-shadow: 0 1px 8px rgba(0,0,0,.1);
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				border: 4px solid @errorcolor;
				border-top-color: transparent;
				border-right-color: transparent;
			}
		}
	}
	.error ~ .errormsg {
		display: block;
	}
}
