@charset "UTF-8";

@font-face {
	font-family: 'FontAwesome';
	src: url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/font/fontawesome-webfont.eot?v=3.0.1');
	src: url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
		url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@errorcolor: #d23;
@accentcolor: #59d;
@formgutterwidth: 10px;

#restoreFontsize() {
	font-size: 15px;
	line-height: 1.333;
	word-spacing: 0;
}
#removeWhitespace() {
	font-size: .1%; // 0 doesn't always work, e.g. Safari 5/win
	line-height: 0;
	word-spacing: -.3em; // needed by browser with min font-size > 0, e.g. Opera
}
#boxsizing(@model: border-box) {
	-moz-box-sizing: @model;
	box-sizing: @model;
}
#transition(@params: all .2s) {
	-moz-transition: @params;
	-webkit-transition: @params;
	transition: @params;
}
#visuallyHidden() {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

#starOn() {
	&:before {
		font-family: "FontAwesome";
		content: "\f005";
		// content: "\2605";
	}
}
#starOff() {
	&:before {
		font-family: "FontAwesome";
		content: "\f006";
		// content: "\2606";
	}
}

body {
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px;
	background: #f2f2f2;
}
a {
	#transition;
	color: darken(@accentcolor, 8%);
	&:hover {
		color: lighten(@accentcolor, 4%);
	}
}
h1, h2, h3 {
	font-family: Georgia, serif;
}
h1 {
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: -2px;
	&:after {
		content: "❦";
		display: block;
		margin: .3em 0 1.3em;
		text-align: center;
		font-weight: normal;
	}
	span {
		display: block;
		font-size: 40%;
		text-transform: none;
		font-weight: normal;
		letter-spacing: 0;
	}
}
hr {
	margin: 1em 0;
	border: none;
	border-top: 1px solid #d9d9d9;
}

body,
input,
button,
select,
textarea {
	#boxsizing;
	#restoreFontsize;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.placeholder {
	color: #999;
	font-style: italic;
	opacity: 1;
}
::-moz-placeholder { .placeholder; }
:-ms-input-placeholder { .placeholder; }
::-webkit-input-placeholder { .placeholder; }

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="time"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
select,
textarea {
	display: inline-block;
	margin: 4px 0;
	border: 1px solid #d9d9d9;
	padding: 6px;
	line-height: normal; // allows same height across browsers
	outline: none;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
	border-radius: 0;
	background: #fafafa;
	&:hover {
		border-color: #c0c0c0;
	}
	&:focus {
		border-color: @accentcolor;
	}
	&.error {
		border: 1px solid @errorcolor;
		color: @errorcolor;
	}
}
select {
	padding: 5px;
}
textarea {
	overflow-y: auto; // IE fix for consistency
}
fieldset {
	margin: 20px -20px;
	border: none;
	padding: 15px 20px;
	box-shadow: 0 2px 20px rgba(0,0,0,.1);
	background: #fff;
	.legend { // use with headlines; legend element is a bitch to style
		margin-top: 0;
	}
}

// grid
.formrow {
	.label {
		font-size: 12px;
		font-weight: bold;
		&.req:after {
			content: "*";
			color: @errorcolor;
		}
	}
	> .label {
		display: none; // hide shared labels
	}
	.formitem {
		display: inline-block;
		vertical-align: baseline;
		width: 100%;
		padding: 0 0 15px;

		// following rules will be needed in side-by-side layouts, won't hurt here
		// float any child to avoid breaking baseline-alignment of .labels...
		> * {
			float: left;
		}
		// ... except .label, of course
		> .label {
			float: none;
			display: block;
		}

		input[type="text"],
		input[type="password"],
		input[type="number"],
		input[type="tel"],
		input[type="email"],
		input[type="url"],
		input[type="date"],
		input[type="time"],
		input[type="month"],
		input[type="week"],
		input[type="datetime"],
		input[type="datetime-local"],
		select,
		textarea {
			width: 100%;
		}
		label.error {
			clear: left;
			font-size: 11px;
			font-weight: bold;
			color: @errorcolor;
		}
		.ticks {
			padding: 5px 0 0;
			label {
				#transition;
				display: inline-block;
				color: #999;
				&:hover { color: #666; }
				input.checked ~ span { color: #000; } // class "checked" for IE8
				input:checked ~ span { color: #000; } // separate to not confuse IE8

				// version 1
				> span {
					display: block;
					margin: 0 15px 5px 20px;
					cursor: default;
				}
				input[type="checkbox"],
				input[type="radio"] {
					float: left;
					margin: 1px -9px 0 0; // ensure label text doesn't start below input
					&.error ~ span {
						color: @errorcolor;
					}
				}

				// version 2
				// position: relative;
				// padding: 0 15px 5px 20px;
				// input[type="checkbox"],
				// input[type="radio"] {
				// 	position: absolute;
				// 	left: 0;
				// 	margin: 1px;
				// 	&.error ~ span {
				// 		color: @errorcolor;
				// 	}
				// }
			}
		}
		.rating {
			padding: 5px 0 0;
			label {
				#starOff;
				float: right; // direction:rtl and non-static positioning of input breaks in IE8
				width: 42px;
				height: 42px;
				font-size: 42px;
				line-height: 1;
				cursor: pointer;
				span {
					display: none;
				}
			}
			input {
				#visuallyHidden; // display:none would prevent submitting the value
			}
			label:hover,
			label:hover ~ label,
			input.checked ~ label { // class "checked" for IE8
				#starOn;
			}
			input:checked ~ label { // separate to not confuse IE8
				#starOn;
			}
			&:hover {
				input {
					~ label { #starOff; }
				}
				label:hover,
				label:hover ~ label { #starOn; }
			}
		}
	}
}

// respond! IE8 friendly - we just set body classes via JS (no respond.js)
.gt400 {
	body { padding: 40px; }
	fieldset {
		margin: 40px 0;
		padding: 30px 40px;
	}

	.formrow {
		#removeWhitespace;
		margin-right: -@formgutterwidth;
		.formitem {
			#boxsizing;
			#restoreFontsize;
			padding-right: @formgutterwidth;

			&:last-child {
				margin-right: -99px; // needed for older webkits (e.g. Safari 5, Android 2 stock browser)
			}

			// fake element which aligns with other .labels if current formitem has no .label:
			&:before {
				content: "\00a0";
				display: block;
				font-size: 12px; // same as .label
				font-weight: bold;
				line-height: 15px;
				height: 15px;
				margin-top: -15px; // font-size * line-height
			}

			.rating label {
				width: 24px;
				height: 24px;
				font-size: 24px;
			}
		}
		.col1of1 { width: 100%; }
		.col1of2 { width: 50%; }
		.col1of3 { width: 33.33%; }
		.col2of3 { width: 66.66%; }
		.col1of4 { width: 25%; }
		.col3of4 { width: 75%; }
		.col1of5 { width: 20%; }
		.col2of5 { width: 40%; }
		.col3of5 { width: 60%; }
		.col4of5 { width: 80%; }
	}
}
.gt800 {
	body { padding: 80px; }

	.wideform .formrow {
		@labelwidth: 25%; // fixed: 200px;
		@indent: @labelwidth / (100% - @labelwidth) * 100; // fixed: 200px;
		// #boxsizing;
		// width: 100%;
		padding-left: @labelwidth;
		> .label {
			#boxsizing;
			#restoreFontsize;
			font-size: 12px;
			display: inline-block;
			vertical-align: top;
			margin-left: -@indent;
			padding: 13px @formgutterwidth 20px (@formgutterwidth * @indent / 100); // fixed: 0;
			width: @indent;
		}
		.formitem {
			vertical-align: top;
			&:before {
				content: none;
			}
			> .label {
				display: none;
			}
			.ticks,
			.rating {
				padding-top: 10px;
			}
		}
	}
}
@media screen and (min-width:401px) {
	.gt400;
}
@media screen and (min-width:801px) {
	.gt800;
}

// buttons
.button {
	#transition;
	display: inline-block;
	margin: 4px 0;
	border: 1px solid transparent;
	border: 1px solid rgba(0,0,0,.15);
	padding: 7px 16px; // top/bottom should be equal
	text-decoration: none;
	background: #e0e0e0;
	color: #333;
	border-radius: 2px;
	font-size: 12px;
	line-height: normal; // for same height as inputs
	font-weight: bold;
	cursor: pointer;
	outline: none;
	&:hover {
		background: #e5e5e5;
		border-color: rgba(0,0,0,.25);
		color: #000;
	}
	&:focus {
		box-shadow: inset 0 0 0 1px #fff;
	}
	&:active {
		#transition(none);
		background: #e0e0e0;
		box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	}
	&.disabled {
		background: #f2f2f2;
		border-color: rgba(0,0,0,.1);
		color: #999;
		box-shadow: none;
		cursor: not-allowed;
	}

	&.primary {
		background: @accentcolor;
		color: #fff;
		&:hover {
			background: lighten(@accentcolor, 4%);
			color: #fff;
		}
		&:active {
			background: @accentcolor;
		}
	}
	.buttons &,
	.formitem & {
		margin-right: @formgutterwidth;
	}
}
.buttons {
	text-align: right;
	margin-right: -@formgutterwidth;
	.forth {
		float: right;
	}
	.back {
		text-align: left;
	}
}
